/*PAGE CRUD*/
.page-container {
    padding: 20px;
}

.contenedorBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}


/*LISTA VIDEOJUEGOS*/
.table td,
.table th {
    vertical-align: middle;

}

/*PAGE HOME*/
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .card {
        text-align: center;
    }
}

/*MODAL*/
.modal-header-custom {
    background-color: #343a40;
    color: white;
}

.modal-body-custom {
    padding: 20px;
}

.modal-footer-custom {
    background-color: #f8f9fa;
    border-top: none;
}

.form-label-bold {
    font-weight: bold;
}

.form-control-custom {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-control-custom:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}